.Modal{
    position: absolute;
    inset: 10%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    height: 80vh;
    width:80vw

}

.Overlay{
    position: fixed;
    inset: 0px;
    background-color: rgba(7, 6, 6, 0.75);
    z-index: 999999999;
    height: 100vh;
}
